      body{
        font-family: monospace;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
      }
      
      #title{
        white-space: pre-wrap;
        text-align: center;
        font-size: .75rem;
        padding: 0.25rem 0;
        font-weight: bold;
      }
      
@media only screen and (max-width: 600px) {
  #title{
    font-size: .6rem;
  }
      }
      
#mouseAssignment {
    transition: all 1s ease-out;
  }
  #mouseAssignment:hover {
    font-size: 1.3em;
    color: blue;
    text-decoration: 
  } 
      
#natdye {
    transition: all 1s ease-out;
  }
  #natdye:hover {
    font-size: 1.3em;
    color: red;
    text-decoration: 
  } 
      
#woventouch {
    transition: all 1s ease-out;
  }
  #woventouch:hover {
    font-size: 1.3em;
    color: orange;
    text-decoration: 
  }  
      
  #knitcode {
    transition: all 1s ease-out;
  }
  #knitcode:hover {
    font-size: 1.3em;
    color: green;
    text-decoration: 
  }  

      #woolworkshop {
    transition: all 1s ease-out;
  }
  #woolworkshop:hover {
    font-size: 1.3em;
    color: pink;
    text-decoration: 
  } 
      .descriptionlink {
        text-decoration: none;
        color: black;
      }
      main{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      #links{
        text-align: center;
      }
      
    a {
        color: #000000; 
        text-decoration: #000000 wavy underline;
      }

      #links a{
        display: inline-block;
        padding: .25rem .5rem;
      }
      
       #description {
        padding: 0.1rem 0;
        font-size: .75rem;
        text-align: center;
        max-width: 50%;
        margin: 0 auto;
      }
      
      #menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 80%;
	margin: 0 auto;
        font-family: monospace;
        font-style: italic;
        font-size: 0.75rem;
        padding: 0.5rem;
}
      
      footer{
        padding: 1rem 0;
        font-size: .75rem;
        text-align: center;
        margin: 0 auto;
      }
      
   table{
     position: center;
        width: 80%;
        margin: 2rem auto;
      }
      
      p{
        margin: 1em;
      }
      
      th{
        text-align: left;
        cursor: pointer;
      }
      
      th,td{
        padding: 6px 18px;
      } 

  tr:hover {
    background-color: #ebe9e8;
  }
      


header h1{
  width: 100%;
  font-weight: normal;
  font-size: 1rem;
  margin: .5rem 0;
}

#emote {
  position: fixed;
  left: 0;
  top: 50%;
  z-index: -9;
  width: 100%;
  text-align: center;
  height: 300px;
  max-height: 40%;
  font-size: 4rem;
  color: #eb80ff;
  text-shadow: 0 0 15px #eb80ff;
  opacity: 0.2;
  pointer-events: none;
}